<div *ngIf="document">
    <h1 class="h1">{{document.title}}</h1>
    <div class="row col-sm-10 offset-md-1" style="text-align: justify;">{{document.identifyParts}}</div>
    <div class="row col-sm-10 offset-md-1" style="text-align: justify;" *ngFor="let paragraph of document.paragraphs">
        <strong>{{paragraph.ordinal.toUpperCase()}}:&nbsp;</strong>{{paragraph.text}}
    </div><br>

    <hr>
    <div class="row offset-md-1"> <a href="document-list" class="btn btn-primary">Volver...</a></div>
</div>