<p *ngIf="!activeId">Hola <b>{{nombreUsuario}}</b>, sea bienvenido al sistema de Registro de Legalbox. </p>
<p *ngIf="!activeId">Para completar el registro, enviamos para su correo electrónico (<u>{{mailUsuario}}</u>) un link para la activación de su cuenta.</p>
<p *ngIf="!activeId">Despues de activar su cuenta, puede acceder a Legalbox, haciendo login con su nueva cuenta.</p>
<a *ngIf="!activeId" href="login">Acceder aquí</a>

<p *ngIf="activeId">Activando el usuario...</p>