<form #DocumentForm="ngForm">
    <div class="form-group row" *ngIf="legalMatters">
        <label for="LegalMatter" class="col-sm-2 col-form-label">Materia Legal</label>
        <div class="col-sm-4">
            <select class="custom-select" name="LegalMatter" id="LegalMatter" (change)="onChangeLegalMatter($event)">
        <option value="">- Seleccione Materia Legal -</option>
        <option *ngFor="let legalMatter of legalMatters" value="{{legalMatter.id}}">{{legalMatter.name}}</option>
      </select>
        </div>
        <!--
  </div>

  <div class="form-group row" *ngIf="templates">
  -->

        <label for="Templates" class="col-sm-2 col-form-label">Plantillas</label>
        <div class="col-sm-4">
            <select class="custom-select" name="Templates" id="Templates" (change)="onChangeTemplate($event)">
        <option value="">- Seleccione Plantilla -</option>
        <option *ngFor="let template of templates" value="{{template.id}}">{{template.name}}</option>
      </select>
        </div>
    </div>

    <div class="form-group row" *ngIf="template">
        <label for="ImPart" class="col-sm-2 col-form-label">Soy parte:</label>
        <div class="col-sm-5">
            <select class="custom-select" name="ImPart" id="ImPart" [(ngModel)]="imPart" (change)="onChangeIampart($event)">
        <option value="">- Indique su tipo de participación -</option>
        <option value="0">No soy parte de éste acuerdo</option>
        <option value="{{i+1}}" *ngFor="let part of partTypes; let i=index">Soy {{part.toLowerCase()}}</option>
      </select>
        </div>


    </div>
    <h3 class="h3" *ngIf="imPart">Datos de participante</h3>
    <!-- OJO AQUI CON EL ngIF -->
    <div class="form-group row" *ngIf="imPart">
        <label for="Template" class="col-sm-2 col-form-label">Indique BLPID de participante</label>
        <div class="col-sm-7">
            <input type="text" name="Participant" class="form-control" [(ngModel)]="blpid">
        </div>
        <div class="col-sm-3">
            <button type="button" name="Find" id="Find" class="btn btn-primary form-control" (click)="onClickFind($event)">Buscar</button>
        </div>
    </div>

    <div class="form-group row" *ngIf="imPart">
        <label for="DocumentIdentityType" class="col-sm-2 col-form-label">Tipo Documento</label>
        <div class="col-sm-4">
            <select class="custom-select" name="DocumentIdentityType" id="DocumentIdentityType" [(ngModel)]="participant.natural.documentIdentityType">
        <option value="{{identityType}}" *ngFor="let identityType of identityTypes">{{identityType}}</option>
      </select>
        </div>

        <label for="DocumentIdentityNumber" class="col-sm-2 col-form-label">Numero Documento</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="DocumentIdentityNumber" name="DocumentIdentityNumber" [(ngModel)]="participant.natural.documentIdentityNumber" (blur)="onBlurIdentityNumber();" required #IdentityNumber="ngModel">
            <div class="alert alert-danger" *ngIf="IdentityNumber.invalid && (IdentityNumber.dirty || IdentityNumber.touched)">
                <div *ngIf="IdentityNumber.errors.required">Numero es requerido.</div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <hr>
    </div>

    <div *ngIf="participant.natural.documentIdentityNumber!=''">
        <div class="form-group row">
            <label for="PersonType" class="col-sm-2 col-form-label">Tipo Persona</label>
            <div class="col-sm-4">
                <select class="custom-select" name="PersonType" id="PersonType" disabled [(ngModel)]="participant.personType">
          <option value="NATURAL" selected>Natural</option>
          <option value="LEGAL">Juridica</option>
        </select>
            </div>

            <label for="PartType" class="col-sm-2 col-form-label">Tipo de Parte</label>
            <div class="col-sm-4">
                <select class="custom-select" name="PartType" id="PartType" (change)="onChangePartType($event)" [(ngModel)]="participant.partType">
          <option value="{{i+1}}" *ngFor="let part of partTypes; let i=index">{{part}}</option>
        </select>
            </div>
        </div>


        <div class="form-group row">
            <label for="Names" class="col-sm-2 col-form-label">Nombres</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Names" name="Names" [(ngModel)]="participant.natural.names" required #Names="ngModel">
                <div class="alert alert-danger" *ngIf="Names.invalid && (Names.dirty || Names.touched)">
                    <div *ngIf="Names.errors.required">Nombres son requeridos</div>
                </div>
            </div>

            <label for="LastNames" class="col-sm-2 col-form-label">Apellidos</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="LastNames" name="LastNames" [(ngModel)]="participant.natural.lastNames" required #LastNames="ngModel">
                <div class="alert alert-danger" *ngIf="LastNames.invalid && (LastNames.dirty || LastNames.touched)">
                    <div *ngIf="LastNames.errors.required">Apellidos son requeridos</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="Address" class="col-sm-2 col-form-label">Domicilio</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="participant.natural.address" required #Address="ngModel">
                <div class="alert alert-danger" *ngIf="Address.invalid && (Address.dirty || Address.touched)">
                    <div *ngIf="Address.errors.required">Es necesario indicar una dirección.</div>
                </div>
            </div>

            <label for="Email" class="col-sm-2 col-form-label">Correo electronico</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Email" name="Email" [(ngModel)]="participant.natural.email" required email #Email="ngModel">
                <div class="alert alert-danger" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                    <div *ngIf="Email.errors.required">Es necesario indicar una dirección de correo electrónico.</div>
                    <div *ngIf="Email.errors.email">El formato del correo electrónico es incorrecto.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="Country" class="col-sm-2 col-form-label">Nacionalidad</label>
            <div class="col-sm-4">
                <select class="custom-select" name="Country" id="Country" [(ngModel)]="participant.natural.nationalityId" required #Nationality="ngModel">
          <option value="{{country.id}}" *ngFor="let country of countries">{{country.demonym}}</option>
        </select>
                <div class="alert alert-danger" *ngIf="Nationality.invalid">
                    <div *ngIf="Nationality.errors.required">Es necesario indicar una nacionalidad.</div>
                </div>
            </div>

            <label for="Birthday" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="Birthday" name="Birthday" [(ngModel)]="participant.natural.birthday" required #Birthday="ngModel">
                <div class="alert alert-danger" *ngIf="Birthday.invalid">
                    <div *ngIf="Birthday.errors.required">Es necesario indicar fecha de nacimiento.</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="Ocupation" class="col-sm-2 col-form-label">Profesion u Ocupación</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Ocupation" name="Ocupation" [(ngModel)]="participant.natural.ocupation" required #Ocupation="ngModel">
                <div class="alert alert-danger" *ngIf="Ocupation.invalid">
                    <div *ngIf="Ocupation.errors.required">Es necesario indicar profesion, ocupacion o actividad.</div>
                </div>
            </div>
            <label for="MaritalStatus" class="col-sm-2 col-form-label">Estado Civil</label>
            <div class="col-sm-4">
                <select class="custom-select" name="MaritalStatus" id="MaritalStatus" [(ngModel)]="participant.natural.maritalStatusId" required #MaritalStatus="ngModel">
          <option value="{{maritalStatus.id}}" *ngFor="let maritalStatus of maritalStatues">{{maritalStatus.name}}</option>
        </select>

            </div>


        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 col-form-label">Número de telefono</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Phone" name="Phone" [(ngModel)]="participant.natural.phone" required #Phone="ngModel">
                <div class="alert alert-danger" *ngIf="Ocupation.invalid">
                    <div *ngIf="Phone.errors.required">Es necesario indicar telefono de contacto.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <input type="button" class="btn btn-primary" (click)='onClickAddParticipant()' [disabled]="!DocumentForm.form.valid" value="Agregar como participante">
            </div>
            <div class="col-sm-3">
                <input type="button" class="btn btn-secondary" (click)='this.participant = this.createNewParticipant()' value="Cancelar participante">
            </div>
        </div>
        <br>

    </div>

    <!----------------------------------------------->

    <div *ngIf="imPart">
        <h4 class="h4">Partes del acuerdo</h4>
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Parte</th>
                    <th>Nombre</th>
                    <th>Tipo persona</th>
                    <th>Tipo Documento</th>
                    <th>Numero Documento</th>
                    <th align="center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let participant of participants; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{participant.partTypeName}}</td>
                    <td>{{participant.natural.names}} {{participant.natural.lastNames}}</td>
                    <td>{{participant.personType}}</td>
                    <td>{{participant.natural.documentIdentityType}}</td>
                    <td>{{participant.natural.documentIdentityNumber}}</td>
                    <td align="center"><button type="button" class="btn btn-danger" (click)="clickRemoveParticipant(participant.natural.documentIdentityType, participant.natural.documentIdentityNumber)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <div>
            <!--
    <div *ngIf="participantTable.length>=2">
      -->
            <input type="button" class="btn btn-primary" (click)='onClickSaveAndContinue()' value="Aceptar y continuar...">
        </div>
    </div>
</form>