<div>
    <label for="filterSelect">Filtro de documentos:    </label>
    <select id="filterSelect" (change)="changeSelectFilter($event)">
        <option value="">Todos</option>
        <option value="DRAFT">Borradores</option>
        <option value="SIGNED">Firmados</option>
    </select>
</div>

<table class="table table-hover table-sm" *ngIf="documents">
    <thead>
        <tr>
            <th>#</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Partes</th>
            <th>Titulo</th>
            <th>Creador</th>
            <th>Código</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let document of documentsFiltred; let i = index">
            <td>{{i+1}}</td>
            <td>{{translateStatus(document.status)}}</td>
            <td>{{document.templateName}}</td>
            <td>
                <div *ngIf="document.participants[0] && document.participants[1]">{{document.participants[0].natural.lastNames}}/{{document.participants[1].natural.lastNames}}</div>
            </td>
            <td>***</td>
            <td>{{document.creatorUser}}</td>
            <td>{{document.id}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" (click)="onClickEdit(document.id)">Editar</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" (click)="onClickView(document.id)">Ver</button>
                        <button class="dropdown-item" type="button" (click)="onClickEdit(document.id)" disabled>Participantes</button>
                        <button class="dropdown-item" type="button" (click)="onClickEdit(document.id)" disabled>Distribuir</button>
                        <button class="dropdown-item" type="button" (click)="onClickEdit(document.id)" disabled>Almacenar</button>
                        <button class="dropdown-item" type="button" (click)="onClickEdit(document.id)" disabled>Opiniones (docs recibidos)</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" type="button" (click)="onClickEdit(document.id)" disabled>Eliminar</button>
                    </div>
                </div>

            </td>

        </tr>

    </tbody>
</table>