<!--
<p>En la ciudad de Santiago del dia......... venimos don...................con la empresa....... representada Juridicamente Por don........................donde se acuerda a los siguientes clausulas</p>
-->
<p *ngIf="document" class="col-sm-10 offset-md-1 border border-primary rounded">{{document.identifyParts}}</p>

<p class="col-sm-10 offset-md-1 border border-primary rounded">Id Documento: {{document.id}}</p>

<div *ngFor="let p of document.paragraphs; index as i">

    <div class="row col-sm-10 offset-md-1">
        Articulo {{i+1}}: <b>{{p.title}}</b> <label class="offset-md-3" for="{{p.id}}"> <input type="checkbox"
        id="{{p.id}}" [(ngModel)]="p.commited"/>&nbsp;Confirmar</label>
    </div>

    <div class="row col-sm-10 offset-md-1">
        <textarea rows="5" class="border border-secondary form-control col-sm-12" [(ng-model)]="p.text" (change)="onChangeArticle($event,p)">{{p.text}}</textarea>

    </div>
    <div class="row">&nbsp;</div>
</div>

<!--
<p>Articulo 1 Servicios contratados</p>
<textarea class="form-control col-sm-11" id="validationTextarea" placeholder="Required example" required></textarea>

<input type="checkbox" id="vehicle1" name="vehicle1" value="confirmar">
<label for="vehicle1"> confirmar </label><br>
-->


<button class="btn btn-primary" (click)="onClickCreateDocument()">Crear documento</button>&nbsp;
<button class="btn btn-secondary" disabled>Agregar articulo</button>