<div class="row">
    <div>
        <label for="names">Nombres:</label>
        <input type="text" id="names" autocomplete="false" [(ngModel)]="newUser.names">
    </div>
    <div>
        <label for="lastNames">Apellidos</label>
        <input type="text" id="lastNames" [(ngModel)]="newUser.lastNames">
    </div>
</div>

<div class="row">
    <div>
        <label for="documentIdentityType">Tipo Documento:</label>
        <select id="documentIdentityType" [(ngModel)]="newUser.documentIdentityType">
            <option [value]="identityType" *ngFor="let identityType of identityTypes">{{identityType}}</option>
        </select>
    </div>
    <div>
        <label for="documentIdentityNumber">Numero Documento:</label>
        <input type="text" id="documentIdentityNumber" [(ngModel)]="newUser.documentIdentityNumber">
    </div>
</div>

<div class="row">
    <div>
        <label for="birthday">Fecha Nacimiento:</label>
        <input type="date" id="birthday" [(ngModel)]="newUser.birthday">
    </div>
    <div>
        <label for="maritalStatus">Estado Civil:</label>
        <select id="maritalStatus" [(ngModel)]="newUser.maritalStatus">
            <option [value]="maritalStatus.id" *ngFor="let maritalStatus of maritalStatues" >{{maritalStatus.name}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div>
        <label for="address">Dirección:</label>
        <input type="text" id="address" [(ngModel)]="newUser.address">
    </div>
    <div>
        <label for="nationality">Nacionalidad:</label>
        <select id="nationality" [(ngModel)]="newUser.nationalityId">
            <option [value]="nationality.id" *ngFor="let nationality of nationalities" >{{nationality.demonym}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div>
        <label for="ocupation">Ocupación:</label>
        <input type="text" id="ocupation" [(ngModel)]="newUser.ocupation">
    </div>
    <div>
        <label for="phone">Número telefonico:</label>
        <input id="phone" [(ngModel)]="newUser.phone">
    </div>
</div>

<div class="row">
    <div>
        <label for="mail1">Correo electrónico:</label>
        <input type="text" id="mail1" [(ngModel)]="newUser.mail1">
    </div>
    <div>
        <label for="mail2">Repita correo electrónico:</label>
        <input type="text" id="mail2" [(ngModel)]="newUser.mail2">
    </div>
</div>

<div class="row">
    <div>
        <label for="pass1">Contraseña:</label>
        <input type="password" id="pass1" [(ngModel)]="newUser.password1">
    </div>
    <div>
        <label for="pass2">Repita contraseña:</label>
        <input type="password" id="pass2" [(ngModel)]="newUser.password2">
    </div>
</div>

<div class="row">
    <div>
        <input type="button" value="Continuar" (click)="saveNewUser()" [disabled]="showSpinner"> &nbsp;
    </div>
    <div>
        <input type="button" value="Volver" [disabled]="showSpinner">
    </div>
</div>
<div *ngIf="showSpinner">
    <br>
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Procesando...
      </button>
</div>