<form method="POST">
    usuario:<input type="text" name="username" [(ngModel)]="user.username"><br> password:
    <input type="password" name="password" [(ngModel)]="user.password"><br>
    <input type="submit" value="Acceder" (click)="login()">
    <br><br>
    <p><a href="registro">Quiero registarme...</a></p>
</form>